//Breakpoints

$sm-min: 700px;
$md-min: 1000px;
$ld-min: 1200px;
$xl-min: 1920px;

//Colors

$bg: rgba(255, 255, 255, 1);
$bg-menu: rgba(0, 0, 0, 0.884);
$text: rgba( 0, 0, 0, 1 );
$text-dark: rgba(0, 0, 0, .62);
$text-light: rgba(0, 0, 0, .4);
$border-light: rgba(0, 0, 0, .12);


// $background-header: rgba(255, 255, 255, 0.9);

//Fonts

$main-font: 'Poppins', sans-serif;
$second-font: 'Lora', serif;

// Font size



//Header Height

$header-sm: 59px;
$header-md: 100px;
$header-ld: 120px;
$header-xl: 160px;
